:root {
  --green: green;
  --red: red;
}

@font-face {
  font-family: "Exo";
  src: url("fonts/exo-regular-webfont.woff2") format("woff2"),
    url("fonts/exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

label {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */

body {
  color: #e8ecd7;
  font-family: "Exo", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f4529;
  color: #e8ecd7;
  height: 80px;
}

.add {
  border: none;
  fill: #e8ecd7;
  width: 2rem;
  cursor: pointer;
}

.add:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  align-content: start;
  gap: 2rem;
  padding: 2rem;
  min-height: calc(100vh - 80px);
  background-color: #eed3b1;
}

.books-container > .book {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  color: #1f4529;
  background-color: #fff;
  border-radius: 10px;
  height: 350px;
}

.books-container > .book > .delete {
  font-size: 1.5rem;
  border: none;
  color: #1f4529;
  font-weight: 700;
  border-radius: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.read-unread-btn {
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.read-btn {
  background-color: green;
}

.unread-btn {
  background-color: red;
}

.read {
  border: 2px solid #1f4529;
  border-right: 10px solid green;
  border-bottom: 5px solid green;
}

.not-read {
  border: 2px solid #1f4529;
  border-right: 10px solid red;
  border-bottom: 5px solid red;
}

dialog {
  background-color: #fff;
  color: #1f4529;
  border: 2px solid #1f4529;
  height: 400px;
  width: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

dialog form {
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center stretch;
  gap: 1.5rem;
  font-weight: 700;
}

form input[type="text"],
input[type="tel"],
input[type="number"] {
  appearance: none;
  border: 2px solid #1f4529;
  outline: none;
  border-radius: 5px;
}

form input:focus,
input:focus {
  border: 2px solid green;
}

form button {
  border-radius: 5px;
  padding: 4px 8px;
  border: none;
  background-color: green;
  color: white;
}

dialog .close {
  fill: #1f4529;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 2rem;
  cursor: pointer;
}

.blur {
  filter: blur(2px);
}

.read-container label {
  display: inline-block;
}
